ERP推送/ISC_Http_Openapi/Web References/IMSWebReference/IWebServiceservice.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="IWebServiceservice" targetNamespace="http://tempuri.org/" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <types />
  <message name="getERPData0Request">
    <part name="DocType" type="xs:string" />
    <part name="InputDTOXml" type="xs:string" />
    <part name="ResultDTOXml" type="xs:string" />
    <part name="ResultMsg" type="xs:string" />
  </message>
  <message name="getERPData0Response">
    <part name="ResultDTOXml" type="xs:string" />
    <part name="ResultMsg" type="xs:string" />
    <part name="return" type="xs:boolean" />
  </message>
  <message name="getERPDataBase641Request">
    <part name="DocType" type="xs:string" />
    <part name="InputDTOXml" type="xs:string" />
    <part name="ResultDTOXml" type="xs:string" />
    <part name="ResultMsg" type="xs:string" />
  </message>
  <message name="getERPDataBase641Response">
    <part name="ResultDTOXml" type="xs:string" />
    <part name="ResultMsg" type="xs:string" />
    <part name="return" type="xs:boolean" />
  </message>
  <message name="updateERPData2Request">
    <part name="DocType" type="xs:string" />
    <part name="InputDTOXml" type="xs:string" />
    <part name="ResultMsg" type="xs:string" />
  </message>
  <message name="updateERPData2Response">
    <part name="ResultMsg" type="xs:string" />
    <part name="return" type="xs:boolean" />
  </message>
  <message name="updateERPDataBase643Request">
    <part name="DocType" type="xs:string" />
    <part name="InputDTOXml" type="xs:string" />
    <part name="ResultMsg" type="xs:string" />
  </message>
  <message name="updateERPDataBase643Response">
    <part name="ResultMsg" type="xs:string" />
    <part name="return" type="xs:boolean" />
  </message>
  <message name="getIMSData4Request">
    <part name="DocType" type="xs:string" />
    <part name="InputDTOXml" type="xs:string" />
    <part name="ResultDTOXml" type="xs:string" />
    <part name="ResultMsg" type="xs:string" />
  </message>
  <message name="getIMSData4Response">
    <part name="ResultDTOXml" type="xs:string" />
    <part name="ResultMsg" type="xs:string" />
    <part name="return" type="xs:boolean" />
  </message>
  <message name="getIMSDataBase645Request">
    <part name="DocType" type="xs:string" />
    <part name="InputDTOXml" type="xs:string" />
    <part name="ResultDTOXml" type="xs:string" />
    <part name="ResultMsg" type="xs:string" />
  </message>
  <message name="getIMSDataBase645Response">
    <part name="ResultDTOXml" type="xs:string" />
    <part name="ResultMsg" type="xs:string" />
    <part name="return" type="xs:boolean" />
  </message>
  <message name="updateIMSData6Request">
    <part name="DocType" type="xs:string" />
    <part name="InputDTOXml" type="xs:string" />
    <part name="UpdateType" type="xs:string" />
    <part name="ResultMsg" type="xs:string" />
  </message>
  <message name="updateIMSData6Response">
    <part name="ResultMsg" type="xs:string" />
    <part name="return" type="xs:boolean" />
  </message>
  <message name="updateIMSDataBase647Request">
    <part name="DocType" type="xs:string" />
    <part name="InputDTOXml" type="xs:string" />
    <part name="UpdateType" type="xs:string" />
    <part name="ResultMsg" type="xs:string" />
  </message>
  <message name="updateIMSDataBase647Response">
    <part name="ResultMsg" type="xs:string" />
    <part name="return" type="xs:boolean" />
  </message>
  <portType name="IWebService">
    <operation name="getERPData">
      <input message="tns:getERPData0Request" />
      <output message="tns:getERPData0Response" />
    </operation>
    <operation name="getERPDataBase64">
      <input message="tns:getERPDataBase641Request" />
      <output message="tns:getERPDataBase641Response" />
    </operation>
    <operation name="updateERPData">
      <input message="tns:updateERPData2Request" />
      <output message="tns:updateERPData2Response" />
    </operation>
    <operation name="updateERPDataBase64">
      <input message="tns:updateERPDataBase643Request" />
      <output message="tns:updateERPDataBase643Response" />
    </operation>
    <operation name="getIMSData">
      <input message="tns:getIMSData4Request" />
      <output message="tns:getIMSData4Response" />
    </operation>
    <operation name="getIMSDataBase64">
      <input message="tns:getIMSDataBase645Request" />
      <output message="tns:getIMSDataBase645Response" />
    </operation>
    <operation name="updateIMSData">
      <input message="tns:updateIMSData6Request" />
      <output message="tns:updateIMSData6Response" />
    </operation>
    <operation name="updateIMSDataBase64">
      <input message="tns:updateIMSDataBase647Request" />
      <output message="tns:updateIMSDataBase647Response" />
    </operation>
  </portType>
  <binding name="IWebServicebinding" type="tns:IWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc" />
    <operation name="getERPData">
      <soap:operation soapAction="urn:WebServiceInf-IWebService#getERPData" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getERPDataBase64">
      <soap:operation soapAction="urn:WebServiceInf-IWebService#getERPDataBase64" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="updateERPData">
      <soap:operation soapAction="urn:WebServiceInf-IWebService#updateERPData" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="updateERPDataBase64">
      <soap:operation soapAction="urn:WebServiceInf-IWebService#updateERPDataBase64" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getIMSData">
      <soap:operation soapAction="urn:WebServiceInf-IWebService#getIMSData" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="getIMSDataBase64">
      <soap:operation soapAction="urn:WebServiceInf-IWebService#getIMSDataBase64" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="updateIMSData">
      <soap:operation soapAction="urn:WebServiceInf-IWebService#updateIMSData" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
    <operation name="updateIMSDataBase64">
      <soap:operation soapAction="urn:WebServiceInf-IWebService#updateIMSDataBase64" style="rpc" />
      <input>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </input>
      <output>
        <soap:body use="encoded" namespace="urn:WebServiceInf-IWebService" encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" />
      </output>
    </operation>
  </binding>
  <service name="IWebServiceservice">
    <port name="IWebServicePort" binding="tns:IWebServicebinding">
      <soap:address location="http://192.168.6.194:8888/soap/IWebService" />
    </port>
  </service>
</definitions>